// ## Colors

// ### Primary

$--primary-400: hsl(185, 75%, 39%);
$--primary-600: hsl(227, 10%, 46%);
$--primary-800: hsl(229, 23%, 23%);

// ### Neutral

$--neutral-200: hsl(0, 0%, 59%);

// ### Body Copy

$--fs-base: 18px;

// ### Font

$--ff-base: 'Kumbh Sans', sans-serif;

$--fw-regular: 400;
$--fw-bold: 700;
